<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="customConfiguration" type="Task5.Configuration.CustomConfigurationSection, Task5"/>                       
    </configSections>
    <customConfiguration>
      <cultureName name="en-EN"/>   
      
      <listeningFolders>
        <folder name="OnlyUpperCaseEnglishLetters" path="D:\" />
        <folder name="OnlyLowerCaseEnglishLetters" path="D:\" />
      </listeningFolders>   
      
      <rules defaultFolder="D:\DefaultFolder">
        <rule id="1" pattern="^[A-Z]+$" destinationFolder="D:\OnlyUpperCaseEnglishLetters" addEnumeration="false" addTransferDate="false" />
        <rule id="2" pattern="A" destinationFolder="D:\OnlyUpperCaseEnglishLetters" addEnumeration="false" addTransferDate="true" />
        <rule id="3" pattern="B" destinationFolder="D:\OnlyUpperCaseEnglishLetters" addEnumeration="true" addTransferDate="false" />
        <rule id="4" pattern="^[a-z]+$" destinationFolder="D:\OnlyLowerCaseEnglishLetters" addEnumeration="true" addTransferDate="true" />
      </rules>    
    </customConfiguration>      
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
